.hero {
    background-image: url(./Untitled-1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 1023px) {
    .hero {
        background-image: none;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
    }
}